<?xml version = "1.0" encoding = "iso-8859-1"?>
<configuration>
  <appSettings>
    <add key="ApiUserName" value="aykanlar"/>
    <add key="ApiPassword" value= "AyKanLar&#38;2023" />
    <add key="Retailer" value="/Retailers"/>
    <add key="StockLevel" value="/StockLevels"/>
    <add key="StockFlow" value="/StockFlows"/>
    <add key="ApiUrl" value="https://rtdc-apitest.engingrup.com/api/AYK"/>
    <add key="CompanyCode" value="412"/>
    <add key="Season" value="10"/>
    <add key="logoConnection" value="Server=172.16.40.20; Database=AYK2008; User ID = PG; Password = PG2007"/>
      </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientWindowsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection"/>
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|"/>
  </connectionStrings>
</configuration>
